<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SpringMVC获取请求参数</h1>
<a th:href="@{/param/servletAPI(username = 'admin',password='123456')}">测试通过ServletAPI获取请求参数</a><br/>
<a th:href="@{/param/controllerParam(username = 'admin',password='123456')}">测试通过控制器同名形参方法获取请求参数</a><br/>
<form th:action="@{/param/sameNameParam}" th:method="get">
    用户名:<input type="text" name="user_name"><br/>
    密码: <input type="password" name="password"><br/>
    爱好:  a<input type="checkbox" name="hobby" value="a">  b<input type="checkbox" name="hobby" value="b"> c<input type="checkbox" name="hobby" value="c"> <br/>
    <input type="submit" value="测试使用@RequestParam注解建立参数不同名的映射关系">
</form>
<a th:href="@{/param/requestHeader}">测试@RequestHeader注解</a><br/>
<a th:href="@{/param/requestCookie}">测试@RequestCookie注解</a><br/>

<form th:action="@{/param/testpojo}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    性别：<input type="radio" name="sex" value="男">男<input type="radio" name="sex" value="女">女<br>
    年龄：<input type="text" name="age"><br>
    邮箱：<input type="text" name="email"><br>
    <input type="submit" value="测试利用pojo获取并装配请求参数">
</form>
</body>
</html>