<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/ServletAPI}">使用ServletAPI向域对象中存取数据</a><br/>
<a th:href="@{/ModelAndView}">使用ModelAndView向域对象中存取数据</a><br/>
<a th:href="@{/Model}">使用Model向域对象中存取数据</a><br/>
<a th:href="@{/Map}">使用Map向域对象中存取数据</a><br/>
<a th:href="@{/ModelMap}">使用ModelMap向域对象中存取数据</a><br/>
<a th:href="@{/Session}">使用Session向域对象中存取数据</a><br/>
<a th:href="@{/Application}">使用Application向域对象中存取数据</a><br/>
</body>
</html>